{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="back">
    <div class="uk-animation-fade">
        <span class="uk-navbar-item title">Destiny　- 運命の選択肢 -</span>
        <span class="uk-navbar-item sub-title">選択に迷ったらぜひご利用ください！幸運を祈ります！<br/></span>
        <div style="text-align:center"><a href="#" class="btn-stitch uk-margin-small-top">占いを始める</a></div>
    </div>
    <div class="uk-animation-fade uk-margin-medium-top" style="text-align:center;color:white">
        © 2019 Mana Mana All rights reserved.
    </div>
</div>
</body>